<% layout('./layouts/boilerplate.ejs')  %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p><%= err.status  %>: <%= err.message %></p>
            <% if(process.env.NODE_ENV !== 'production') {%>
            <p><%= err.stack %></p>
            <% } %>
            <hr>
            <p>Please go back</p>
        </div>
    </div>
</div>
