<% layout('./layouts/boilerplate.ejs') %>
<div class="justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?size=338&ext=jpg&ga=GA1.1.735520172.1711065600&semt=sph" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign in</h5>
                    <form action="/login" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name = "username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                       
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name = "password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success">
                                Login
                            </button>
                        </div>
                        
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- 

<h1>Log in</h1>
<form action="/login" method="post" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name = "username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
   
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name = "password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">
        Login
    </button>

</form> -->